{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Ticketing App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'vendor/bootstrap_icon/bootstrap-icons.min.css' %}">
<body>

{% include 'nav.html'%}

<main class="container">
    {% block content %}{% endblock %}
</main>

{% if messages %}

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div class="toast align-items-center text-by-{{ message.tags }} border-0 mb-2"
    role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-delay="3000">
    <div class="d-Flex">
    <div class="toast-body">
    {{ message }}
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto"
    data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    </div>
    {% endfor %}
    </div>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
    let toastELList = [].slice.call(document.querySelectorAll('.toast'))
    toastELList.map(function (toastEL) {
    let toast = new bootstrap.Toast(toastEL)
    toast.show()
    })
    });
    </script>
{% endif %}

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>